.portada {
  margin-bottom: 10px;
}
.portada-item {
  padding: 20px;
  background-color: #7fb1dc;
}
.portada-item .portada-titulo {
  background-color: rgba(0, 0, 0, 0.4);
  color: #ffffff;
  display: inline-block;
  font-size: 2em;
  font-weight: lighter;
  margin-top: 20px;
  padding: 10px;
}
.portada-item .portada-subtitulo {
  background-color: rgba(0, 0, 0, 0.4);
  color: #ffffff;
  display: inline-block;
  font-size: 1.5em;
  font-weight: lighter;
  margin: 20px 30px;
  padding: 10px;
}
@media screen and (max-height: 768px) {
  .portada-item .portada-subtitulo {
    margin-left: 0;
    margin-right: 0;
  }
}
