<div class="row">
    <div class="col-lg-3 col-sm-6">
        <div class="home-item">
            <span class="home-item-i fa-stack fa-3x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-sign-in fa-stack-1x"></i>
            </span>
            
            <h3 class="home-item-title">Registrate</h3>
            <p class="home-item-desc">En forma gratuita. Es simple y rápido</p>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6">
        <div class="home-item">
            <span class="home-item-i fa-stack fa-3x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-gamepad fa-stack-1x"></i>
            </span>
            <h3 class="home-item-title">Jugá</h3>
            <p class="home-item-desc">Apostá por los resultados de los partidos.</p>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6">
        <div class="home-item">
            <span class="home-item-i fa-stack fa-3x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-users fa-stack-1x"></i>
            </span>
            <h3 class="home-item-title">Competí</h3>
            <p class="home-item-desc">Fecha tras fecha competí con tus amigos.</p>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6">
        <div class="home-item">
            <span class="home-item-i fa-stack fa-3x">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-trophy fa-stack-1x"></i>
            </span>
            <h3 class="home-item-title">Ganá</h3>
            <p class="home-item-desc">Y demostrá que sos el que más sabe de fútbol.</p>
        </div>
    </div>
</div>