@using MaxDev.Prode.Negocio.Configuracion
@model MaxDev.Prode.Web.Models.HomeVm
@{
    LayoutConfig.Titulo = "Bienvenidos";
}

<div class="portada">
    <div class="portada-item bg-futbol">
        <div class="container">
            <h3 class="portada-titulo">Copa del Mundo 2014</h3><br />
            <h4 class="portada-subtitulo">Las mejores selecciones compiten por quien será el mejor equipo del mundo.</h4>
        </div>
    </div>
</div>

<div class="container">
    @{ Html.RenderPartial("Modulos/HomeItem"); }
</div>
<div class="modal fade" id="reglasModal" tabindex="-1" role="dialog" aria-labelledby="reglas" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="reglas">Reglamento</h4>
            </div>
            <div class="modal-body">
                @{ Html.RenderAction("Reglas", "Home", new { IsPopup = true }); }
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>